body {
  background-color: #f9f9f9;
}
html,
body,
#app {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif !important;
}
input {
  width: 10vw;
  margin-right: 5vw;
}
.option {
  padding: 5px 0 5px;
  background: linear-gradient(to right, #425ab5, #3dd6b7);
  width: 100%;
  margin-bottom: 1vh;
}
.main {
  width: 100%;
  height: 100%;
}
.option div {
  color: white;
  padding: 2vh;
  font-size: 18px;
  margin-top: 1vh;
}
label {
  margin-left: 2vw;
}
.alert {
  width: 80vw;
  margin: 0 auto;
  height: 11vh;
  background-color: #fff;
  border: 1px solid black;
}
.title{
  text-align: center;
  line-height: 30px;
  height: 450px;
 color: #75808f;
}
